<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.css">
</head>

<body>
  <footer id="footer" class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">“The world is an auction house where<br>every person becomes a victim of the auction.”
            <br>
            <i class="red large heart icon"></i>
            <i class="red large heart icon"></i>
            <i class="red large heart icon"></i>
            <br>
            Join Us To Get The Best With Least Cash.
          </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
            “Rupeshiya”.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <a href="https://github.com/Rupeshiya" target="_blank" class="item"><i class="teal github icon"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
