<div>
  <h2 mat-dialog-title>Product Details</h2>
  <hr>
  <mat-dialog-content *ngIf="data; else nodata">
    <div class="container">
      <div class="card text-center">
        <!-- <img src="avatar" alt="avatar" class="img-circle img-responsive img-center"> -->
        <div class="card-header text-center">
          <b>{{data.productName}}</b>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><strong>Description:</strong>{{data.productDescription}}</h5>
          <p class="card-text text-center"><strong>Owner:</strong>{{data.productOwnerEmail}}</p>
          <p class="card-text text-center"><strong>Base price($)</strong>{{data.basePrice}}</p>
        </div>
        <div class="card-footer text-muted">
          &copy; rupeshiya
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseClick()">CLOSE</button>
  </mat-dialog-actions>
  <ng-template #nodata>
    <h2 mat-dialog-title>Product Details</h2>
    <hr>
    <mat-dialog-content>
      <strong>No details is given.</strong>
    </mat-dialog-content>
    <hr>
  </ng-template>
</div>
