<div class="container">
    <div class="card text-center">
      <!-- <img src="avatar" alt="avatar" class="img-circle img-responsive img-center"> -->
        <div class="card-header">
          <b>{{userProfile.username}}</b>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{userProfile.name}}</h5>
          <p class="card-text">{{userProfile.email}}</p>
        </div>
        <div class="card-footer text-muted">
          &copy; rupeshiya
        </div>
      </div>
  </div>